extends ./layout/base.pug
include ./layout/header.pug

block content
  section
    .inner
      .breadcrumbs
        span Главная
      .content
        .row
          .row
            .large-8.medium-6.small-12.column
              h2 Здравствуй, дорогой посетитель
              p Приветствуем тебя на сайте мордовской республиканской молодежной общественной организации «Союз православной молодежи Мордовии».
              p Мы разные: каждый со своими мыслями, надеждами, мечтами. Нас объединяет одно – вера в Господа нашего Иисуса Христа. Вера живая и теплая. Мы видим истинные ориентиры. Мы помогаем друг другу слышать каждого из нас. Мы совершаем одно общее дело – дело Любви и Милосердия.
              p В нашей организации ты можешь найти свое место в жизни, совершить нечто действительно важное, обрести друзей, узнать о неисчерпаемой сокровищнице православной веры. Ты всегда можешь вступить в наши ряды.
              h3 Как вступить?
              p Чтобы вступить в Союз ты должен придти в главный офис: г.Саранск, ул.Саранская, д.67, 2 этаж. По будням с 12.00 до 20.00. Связь ВКонтакте http://vk.com/savlova.
              p При себе иметь паспорт.
              p Если собралось несколько молодых людей и вы живете в одном из районов Республики Мордовия, то у вас есть возможность открыть отделение СПММ (без создания юридического лица). Что для этого необходимо?
              h3 Как создать отделение?
              p Чтобы создать отделение СПММ у себя в районе необходимо 3 инициативных молодых человека в возрасте от 18 до 30 лет.
              p После того как ваша команда будет морально готова к открытию отделения, можно обговорить все детали лично с Председателем Союза – Зеткиной Ольгой Владимировной.
              p ВКонтакте http://vk.com/savlova. 
            .large-4.medium-6.small-4.column
              h3 Свежие новости
              .news-block
                a.img-wrapper(href="#")
                  .news-title.blue
                    .title День православной книги в колледже им. А.И.Полежаева
                    .date 31 сентября
                .news-text-wrapper
                  .news-text
                    p
                      |11 августа 2016 года председатель Отдела молодежного служения Саранской епархии Ольга Зеткина приняла участие в заседании Республиканской комиссии по делам несовершеннолетних и защите их прав. На собрании обсуждались промежуточные итоги летнего оздоровительного отдыха детей, стоящих на учете в КДНиЗП. Представители министерств и ведомств и общественных организаций республики решили усилить совместную работу по вовлечению «проблемной» молодежи в досуговую деятельность и занятия спортом.
                  a.read-more(href="#")
                    span Далее
              .text-center
                .pagination
                  a.page-href 1
                  a.page-href(href="#") 2
                  a.page-href(href="#") 3
                  a.page-href(href="#") 4
                  a.page-href(href="#") 5 
  section.map-info
    #map
    .inner
      .left-map-info
        p Юридический адрес
          br
          |МРМОО «Союз православной молодежи Мордовии»:
        span 430000, г. Саранск, ул. Саранская, 67
        p Тел./факс:
        span (8342) 47-28-38
        p E-mail:
        span spdu@rambler.ru


include ./layout/footer.pug