extends ./layout/base.pug
include ./layout/header.pug

block content
  section
    .inner
      .breadcrumbs
        a(href="/news") Новости
        a(href="/2016") 2016
        span Август
      .content
        .row
          .row
            .news-block.large-4.medium-6.small-6.column
              a.img-wrapper(href="#")
                .news-title.orange
                  .title День православной книги в колледже им. А.И.Полежаева
                  .date 31 сентября
              .news-text-wrapper
                .news-text
                  p
                    |11 августа 2016 года председатель Отдела молодежного служения Саранской епархии Ольга Зеткина приняла участие в заседании Республиканской комиссии по делам несовершеннолетних и защите их прав. На собрании обсуждались промежуточные итоги летнего оздоровительного отдыха детей, стоящих на учете в КДНиЗП. Представители министерств и ведомств и общественных организаций республики решили усилить совместную работу по вовлечению «проблемной» молодежи в досуговую деятельность и занятия спортом.
                a.read-more(href="#")
                  span Далее
            .news-block.large-4.medium-6.small-6.column
              a.img-wrapper(href="#")
                .news-title.orange
                  .title День православной книги в колледже им. А.И.Полежаева
                  .date 31 сентября
              .news-text-wrapper
                .news-text
                  p
                    |11 августа 2016 года председатель Отдела молодежного служения Саранской епархии Ольга Зеткина приняла участие в заседании Республиканской комиссии по делам несовершеннолетних и защите их прав. На собрании обсуждались промежуточные итоги летнего оздоровительного отдыха детей, стоящих на учете в КДНиЗП. Представители министерств и ведомств и общественных организаций республики решили усилить совместную работу по вовлечению «проблемной» молодежи в досуговую деятельность и занятия спортом.
                a.read-more(href="#")
                  span Далее
            .news-block.large-4.medium-6.small-6.column
              a.img-wrapper(href="#")
                .news-title.orange
                  .title День православной книги в колледже им. А.И.Полежаева
                  .date 31 сентября
              .news-text-wrapper
                .news-text
                  p
                    |11 августа 2016 года председатель Отдела молодежного служения Саранской епархии Ольга Зеткина приняла участие в заседании Республиканской комиссии по делам несовершеннолетних и защите их прав. На собрании обсуждались промежуточные итоги летнего оздоровительного отдыха детей, стоящих на учете в КДНиЗП. Представители министерств и ведомств и общественных организаций республики решили усилить совместную работу по вовлечению «проблемной» молодежи в досуговую деятельность и занятия спортом.
                a.read-more(href="#")
                  span Далее
            .news-block.large-4.medium-6.small-6.column
              a.img-wrapper(href="#")
                .news-title.blue
                  .title День православной книги в колледже им. А.И.Полежаева
                  .date 31 сентября
              .news-text-wrapper
                .news-text
                  p
                    |11 августа 2016 года председатель Отдела молодежного служения Саранской епархии Ольга Зеткина приняла участие в заседании Республиканской комиссии по делам несовершеннолетних и защите их прав. На собрании обсуждались промежуточные итоги летнего оздоровительного отдыха детей, стоящих на учете в КДНиЗП. Представители министерств и ведомств и общественных организаций республики решили усилить совместную работу по вовлечению «проблемной» молодежи в досуговую деятельность и занятия спортом.
                a.read-more(href="#")
                  span Далее
            .news-block.large-4.medium-6.small-6.column
              a.img-wrapper.none-image(href="#")
                .news-title.orange
                  .title День православной книги в колледже им. А.И.Полежаева
                  .date 31 сентября
              .news-text-wrapper
                .news-text
                  p
                    |11 августа 2016 года председатель Отдела молодежного служения Саранской епархии Ольга Зеткина приняла участие в заседании Республиканской комиссии по делам несовершеннолетних и защите их прав. На собрании обсуждались промежуточные итоги летнего оздоровительного отдыха детей, стоящих на учете в КДНиЗП. Представители министерств и ведомств и общественных организаций республики решили усилить совместную работу по вовлечению «проблемной» молодежи в досуговую деятельность и занятия спортом.
                a.read-more(href="#")
                  span Далее
      .text-center
        .pagination
          a.arrow-left
          a.page-href 1
          a.page-href(href="#") 2
          a.page-href(href="#") 3
          a.page-href(href="#") 4
          a.page-href(href="#") 5
          span.dotted ...
          a.page-href(href="#") 17
          a.arrow-right(href="#")
include ./layout/footer.pug