doctype html
html
	head
		meta(content="text/html",charset="UTF-8")
		meta(name='viewport', content='width=device-width, initial-scale=1')
		title
		link(rel="stylesheet" href="css/screen.css")
	body
		header
			.inner
				block header
		.section-wrapper
			block content
		footer
			.inner
				block footer
		script(src="https://maps.googleapis.com/maps/api/js")
		script(src="/js/scripts.js")
