block footer
  .row
    .large-6.medium-6.small-6
      .menu-footer
        ul
          li
            a(href="#") Новости
            ul
              li: a(href="#") Архив 2015
              li: a(href="#") Архив 2014
              li: a(href="#") Архив 2013
              li: a(href="#") Архив 2012
              li: a(href="#") Архив 2011
              li: a(href="#") Архив 2010
          li: a(href="#") Календарь
          li
            a(href="#") Медиа
            ul
              li: a(href="#") Фотографии
              li: a(href="#") Видео
              li: a(href="#") Аудио
              li: a(href="#") Литература
          li
            a(href="#") О нас
            ul
              li: a(href="#") Контакты
              li: a(href="#") История
              li: a(href="#") Планы
          li: a(href="#") Координационный
            br
            |центр
    .large-6.medium-6.small-6.text-right
      .social-network
        a.vk-social(href="#")
        a.fb-social(href="#")
        a.twitter(href="#")
        a.rss(href="#")
      a.logout(href="#") Выйти
      .copyright
        p По благословению Высокопреосвященнейшего
        p Митрополита Саранского и Мордовского ВАРСОНОФИЯ
        p ® © СПММ 2005-2016
        p Все права защищены. При цитировании материалов ссылка на спмм.рф обязательна.