block header
  .logo
    a(href="/")
      img(src="/img/template/logo.svg")
  .menu
    ul
      li.active
        a(href="#") Новости
      li
        a(href="#") Календарь
      li.multi
        a(href="#") Медиа
        ul
          li
            a(href="#") Фотографии
          li
            a(href="#") Видео
          li
            a(href="#") Аудио
          li
            a(href="#") Литература
      li.multi
        a(href="#") О нас
        ul
          li
            a(href="#") Контакты
          li
            a(href="#") История
          li
            a(href="#") Планы
      .delimiter.hidden-md
      li.hidden-md
        a(href="#") Координационный центр
  .search.input
    input#search(type="text",name="search")
    .btn-search


